.listshow_musicitem {
    padding-left: 40px;
    height: 30px;
    font-size: @small_text;
    width: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    display: flex;
    position: relative;

    div {
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



}




.listshow_handler {
    width: 60px;

    .handler_btn {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 14px;

        img {
            height: 16px;
            width: 16px;
            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }
    }

}

.listshow_musicindex {
    width: 30px;
    color: rgba(0, 0, 0, 0.3);
    padding: 0 6px;

}

.listshow_musicname {
    flex: 1;
    padding: 0 6px;

}

.listshow_singername {
    width: 140px;
    padding: 0 6px;

    span {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}

.listshow_musiccd {
    width: 180px;
    padding: 0 6px;

    span {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}

.listshow_musiclong {
    width: 80px;
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.6);
}

.listshow_musicitem_header {
    padding-left: 40px;
    height: 30px;
    font-size: @small_text;
    width: 100%;

    position: relative;
    display: flex;

    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

}

.menu {
    position: relative;
    opacity: 0.6;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);

        .sort {
            display: block;
        }
    }

    .sortStatus {
        display: block;
        position: absolute;
        right: 6px;

        img {
            width: 10px;
            height: 10px;
        }
    }

    .sort {
        display: none;
        position: absolute;
        right: 6px;

        img {
            width: 10px;
            height: 10px;
        }
    }
}



.odd {
    background-color: rgba(0, 0, 0, 0.08);
}

.even {
    background-color: rgba(0, 0, 0, 0.02);
}