.find_music {
    width: 100%;
    height: 100%;

    padding: 0 40px;
}

.findmusic_treetag {
    width: 100%;
    position: absolte;
}

.findmusic_content {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}