.treetag_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: @main_bg;
    height: 80px;
    padding: 0 40px;
    position: fixed;
    z-index: 10;

    .tag {
        margin-right: 20px;
        font-weight: 600;
        font-size: @normal_text;
        cursor: pointer;
    }
}