.findmusicitem_recommendmusic {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(5, 20%);
}

.musiclist_item {
    margin: 10px;
    position: relative;

    img {
        border-radius: 8px;
        width: 100%;
    }

    .item_text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}