.findmusicitem_recommendmusic {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(5, 20%);
}

.musiclist_item {
    margin: 10px;
    position: relative;
    cursor: pointer;

    .item_img {
        position: relative;

        .item_listinfo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;

            .listinfo_playcount {
                display: flex;
                position: absolute;
                right: 2px;
                top: 2px;
                color: #fff;
                font-size: @small_text;
                justify-content: center;
                align-items: center;

                img {
                    width: 12px;
                    height: 12px;
                    top: 2px;
                }
            }

            &:hover .listinfo_imgplay {
                opacity: 1;
            }

            .listinfo_imgplay {
                position: absolute;
                right: 10px;
                bottom: 14px;
                padding: 2px;
                width: 30px;
                height: 30px;
                padding-left: 5px;
                padding-top: 3px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all ease-in 0.5s;



                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    img {
        border-radius: 8px;
        width: 100%;
    }

    .item_text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }


}